node_modules
.history
session.data.json
.wwebjs_cache
package-lock.json
ngrok-v3-stable-linux-amd64.tgz
ngrok
example_commands
/script/terminal.js
terminal
# managed by open-was
**.data.json
**.node-persist**
**_IGNORE_**
# end managed by open-wa

